#contact {
    height: 100vh;
}
.contact_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    @media (max-width: 800px) {
        justify-content: center;
    }

    .contact_title {
        color: var(--black100);
        font-size: 8vw;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 800;
        letter-spacing: -0.3vw;
        white-space: nowrap;
    }
    .contact_text {
        width: 100%;
        height: 40vh;
        background-color: #fa9b9b;
        background: url(/img/contact.jpg) center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        color: var(--white);
        cursor: all-scroll;

        .text {
            font-size: 3vw;
            line-height: 1;
            font-weight: 900;
            text-transform: uppercase;
            text-decoration: underline;
            text-align: center;
            position: relative;
            z-index: 100;
            @media (max-width: 800px) {
                font-size: 24px;
            }
        }
    }
    .contact_lines {
        width: 100%;

        .line {
            display: block;
            width: 100%;
            height: 1px;
            margin-bottom: 0.5vw;
            background-color: var(--black100);
            background: url(../../img/contact.jpg) center;
            background-size: cover;
            background-attachment: fixed;
        }

        &.top {
            .line {
                margin-top: 0.5vw;
                display: none;
                @media (max-width: 800px) {
                    display: block;
                }
                &:nth-child(1) {
                    height: 1px;
                }
                &:nth-child(2) {
                    height: 2px;
                }
                &:nth-child(3) {
                    height: 5px;
                }
                &:nth-child(4) {
                    height: 9px;
                }
                &:nth-child(5) {
                    height: 13px;
                }
                &:nth-child(6) {
                    height: 17px;
                }
                &:nth-child(7) {
                    height: 25px;
                }
            }
        }
        &.bottom {
            .line {
                margin-top: 0.5vw;
                &:nth-child(1) {
                    height: 25px;
                }
                &:nth-child(2) {
                    height: 17px;
                }
                &:nth-child(3) {
                    height: 13px;
                }
                &:nth-child(4) {
                    height: 9px;
                }
                &:nth-child(5) {
                    height: 5px;
                }
                &:nth-child(6) {
                    height: 2px;
                }
                &:nth-child(7) {
                    height: 1px;
                }
            }
        }
    }
}
