#footer {
    font-family: var(--mainKor-font);
}
.footer_inner {
    padding: 16px;

    .footer_text {
        font-size: 12px;
        text-transform: uppercase;
        border-top: 1px solid var(--black);
        border-bottom: 1px solid var(--black);
        display: flex;
        justify-content: space-between;
    }
    .footer_info {
        display: flex;
        justify-content: space-between;
        margin: 100px 0;

        .left {
            width: 40%;

            .title {
                border-top: 2px solid var(--black);
                border-bottom: 1px solid var(--black);
                padding: 20px 0;
                text-transform: uppercase;
                font-weight: 700;
                background: url(../../img/arrow.svg) no-repeat right 20px;
                transition: all 0.3s;
                color: var(--mainSub-color);
            }
            &:hover {
                background-color: var(--black);
                padding-left: 10px;
                border-color: transparent;
            }
            .desc {
                font-size: 12px;
                padding-top: 20px;
                color: var(--mainSub-color);
            }
        }
        .right {
            width: 50%;

            h3 {
                border-top: 2px solid var(--black);
                font-size: 10px;
                margin-bottom: 40px;
                padding-top: 10px;
                color: var(--black);
            }

            ul {
                border-top: 1px solid var(--black);
            }

            li {
                border-bottom: 1px solid var(--black);

                a {
                    padding: 14px 0;
                    font-size: 14px;
                    display: inline-block;
                    text-transform: uppercase;
                    color: var(--mainSub-color);
                }
                em {
                    font-size: 12px;
                    padding-left: 10px;
                    opacity: 0;
                    transition: all 0.3s;
                }
            }
        }
    }
}
