#header {
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;
    @include position-fixed;
    z-index: 10000;
    backdrop-filter: blur(15px);
}
.header_inner {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    @include flex-between;
    padding: 1rem;
    background-color: rgba(123, 123, 123, 0.1);

    .header_logo {
        font-size: 0.9rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;

        em {
            font-size: 12px;
            display: block;
        }
    }

    .header_nav {
        @media (max-width: 800px) {
            display: none;
        }

        &.show {
            @media (max-width: 800px) {
                display: block;

                + .haeder_nave_mobile {
                    span {
                        &::before {
                            @media (max-width: 800px) {
                                width: 20px;
                            }
                        }
                        &::after {
                            @media (max-width: 800px) {
                                width: 20px;
                            }
                        }
                    }
                }
            }
            ul {
                @media (max-width: 800px) {
                    position: absolute;
                    right: 0;
                    top: 68px;
                    background-color: rgba(105, 105, 105, 0.3);
                    padding: 20px 5px 20px 20px;
                }

                li {
                    @media (max-width: 800px) {
                        display: block;
                        text-align: right;
                    }

                    a {
                        @media (max-width: 800px) {
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }
            }
        }
        li {
            display: inline-block;
            a {
                font-size: 14px;
                text-transform: uppercase;
                padding: 14px;
                position: relative;

                &::before {
                    content: "";
                    width: calc(100% - 28px);
                    height: 1px;
                    background-color: var(--black);
                    position: absolute;
                    left: 14px;
                    bottom: 0;
                    transform: scale(0);
                    transition: transform 0.3s;
                }
                &:hover::before {
                    transform: scale(1);
                }
            }
        }
    }

    .header_nav_mobile {
        width: 40px;
        height: 40px;
        display: none;
        cursor: pointer;

        @media (max-width: 800px) {
            display: block;
        }
        span {
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--black);
            margin-top: 19px;
            position: relative;

            &::before {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                right: 0;
                top: 6px;
                transition: width 0.3s;
            }
            &::after {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                left: 0;
                bottom: 6px;
                transition: width 0.3s;
            }
        }
    }
}
